<div class="contextual">
  <% if User.current.allowed_to?(:launch_chat, @project) %>
    <%= link_to l(:label_launch_chat), "#", "data-sid" => User.current.id, "data-pid" => @project.id, :class => 'icon icon-add activate-conversation' %>
  <% end %>
</div>

<h2><%=l(:label_chat)%></h2>
<div class="splitcontentleft">
    <h3><%= l(:label_chat_users) %></h3>
    <div class="chat_user">
      <!-- Table -->
      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th><%= l(:field_name) %></th>
          <th><%= l(:label_online_status) %></th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= "#{avatar(user, :size => '14')}#{user ? link_to_user(user) : "-"}".html_safe %></td>
              <td>
              	<% if user == User.current || ChatUser.find_by(:project_id => @project.id, :user_id => user.id) %>
                  <%= image_tag('online.png', :plugin => "redmine_chat") %>
                <% else%>
                  <%= image_tag('offline.png', :plugin => "redmine_chat") %>
                <% end %>
               </td>
               <td>
                  <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                    "data-sid" => User.current.id, "data-rip" => user.id %>
               </td>
             </tr>
        <% end %>
      </tbody>
      </table>
    </div>
    <hr>
    <h3><%= l(:label_latest_conversations) %></h3>
    <div class="user_chat">
      <% if @chat_messages.any? %>
        <% if User.current.allowed_to?(:show_all_chat_messages, @project) %>
           <p><%= link_to l(:label_chat_messages_view_all), project_chat_messages_path(@project) %></p>
        <% end %>
        <% @chat_messages.each do |chat_message| %>
          <h6><%= avatar(chat_message.user, :size => "24") %><%= authoring chat_message.created_at, chat_message.user %></h6>
          <%= textilizable(chat_message.body) %>
        <% end %>
        <% if User.current.allowed_to?(:show_all_chat_messages, @project) %>
           <p><%= link_to l(:label_chat_messages_view_all), project_chat_messages_path(@project) %></p>
        <% end %>
      <% else %>
           <p><%=l(:tip_no_conversations)%></p>
      <% end %>
    </div>
</div>
