div.chat_user{
  overflow-y: auto;
  height: 250px;
}

div.conversion{
  height: 250px;
  overflow-y: auto;
}

.icon-chat { background-image: url(../images/redmine_chat.png); }
.icon-online { background-image: url(../images/online.png); }
.icon-offline { background-image: url(../images/offline.png); }